Options -Indexes 

Header set Referrer-Policy "no-referrer-when-downgrade"
Header set X-Content-Type-Options "nosniff"
Header set Content-Security-Policy "upgrade-insecure-requests"
Header set Content-Security-Policy "frame-ancestors 'self' https://sites.optimhum.fr"
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header set Permissions-Policy "usb=(), serial=()"

#RewriteEngine On
#RewriteRule (.*)$ https://nvdomaine.extension/$1 [R=301,L]

# Redirection HTTP vers HTTPS
RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


# Ne pas avoir besoin d'écrire .php dans l'URL
RewriteEngine On
#vérifier si pour l'url demandé un fichier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
#vérifier si pour l'url demandé un dossier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-d
# Vérifier si le fichier PHP correspondant existe
RewriteCond %{REQUEST_FILENAME}.php -f
#si non, faire la ré-écriture
RewriteRule ^(.*)$ $1.php [L,QSA]


# Les lignes ci-dessous doivent être supprimés en production !

# Active l'affichage des erreurs PHP a désactiver pour les applications en production :
# Avec PHP-FPM :
SetEnv PHP_VALUE "display_errors=on"
SetEnv PHP_VALUE "error_reporting=E_ALL"
# Avec MOD-PHP :
#php_flag display_errors on
#php_value error_reporting E_ALL

#Désactivation partielle du cache
Header set Cache-Control "no-cache, must-revalidate, max-age=0"
